/* eventually, base these on a general size, so that +/- buttons can be implemented */

.gridColor {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.selectedColor {
  height: 60px;
  width: 60px;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editBtn {
  background: rgba(255,255,255,.75);
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  width: 90%;
  height: 90%;
  opacity: 0;
  transition: 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editBtn p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.selectedColor:hover .editBtn {
  opacity: 1; 
}