.indexShowContainer {
  display: flex;
  margin: 10px 0px;
}

.nonogramVisual {
  border: 2px double black;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: content-box;
}

.indexDetails {
  margin-left: 10px;
}

.nonoRowSmall {
  display: flex;
  box-sizing: content-box;
}