.solverColorContainer {
  display: flex;
}

.cluesAndGrid {
  display: flex;
}

.columnClues {
  display: flex;
  margin-left: 4px;
}

.clueColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 25px;
}

.clueBox {
  width: 25px;
  height: 25px;
  border: .5px solid black;
  display: flex;
  justify-content: center;
  align-items:center;
}

.rowClues {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 4px;
}

.clueRow {
  display: flex;
  justify-content: flex-end;
}
.clueRow:nth-child(5n) .clueBox {
  border-bottom: 2px solid black;
}
.clueColumn:nth-child(5n) .clueBox {
  border-right: 2px solid black;
}