header {
  display: flex;
  justify-content: space-between;
  font-family: Helvetica, sans-serif;
  background: slategray;
  padding: 5px 10px;
}

.siteTitle {
  font-size: 36px;
}

.navLinks {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.lineDivide {
  font-weight: lighter;
}